header {
    font-family: "Merriweather", Georgia, serif;
}
main {
    display: block;
    font-family: 'PT Serif', Arial, serif;
    text-align: center;
}
h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
}
h2 {
    font-size: 1rem;
    border-bottom: 1px solid;
    margin-bottom: 0.5rem;
}
header, footer {
   background-color: orange;
   color: white;
   text-align: center;
}
header img {
    width: 150px;
    height: auto;
}
html {
    max-width: 600px;
    margin: 0 auto;
  }
