@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=PT+Serif&display=swap');
header {
    font-family: "Merriweather", Georgia, serif;
}
main {
    font-family: "PT Seri", Arial, sans-serif;
    text-align: center;
}
header, footer {
    background-color: orange;
   color: white;
   text-align: center;
   padding: 5px;
}
header img {
    width: 25px;
    height: 50px;
    float: right;
}
#content{
    max-width: 960px;
    margin: 0 auto;
  }
