header, footer {
	align-items: center;
	justify-content: center;
    padding: 10px;
    text-align:center;
}
footer{
    color:#E0FBFC;
    font-family: 'Rubik', sans-serif;
    background-color: #07393C;
}
header{
    display:flex;
    color: #07393C;
    background-color: #1B998B;
}
header, nav, main, footer {
	margin: 0 auto;
}
main {
  background-color: #E0FBFC;
  font-size: 0.8rem;
  font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color:#07393c;
  font-family: 'Quicksand', sans-serif;
}
header img {
    width: 100px;
    height: 100px;
    margin: 20px 20px 0 0;
}
.navigation {
	list-style: none;
    padding: 0;
    background-color:#07393c;
    display: flex;
    flex-basis: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.navigation li {
    list-style:none;
    width: 100%;
    flex: 1;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: black;
    font-weight: 700;
    font-size: 0.95rem;
    color: #E0FBFC;
	font-family: 'Rubik', sans-serif;
}
.navigation a:hover{
	background-color: #6C6061;
}
.navigation a:visited {
	color: #FF9B71;
}
#topHeader{
    display: flex;
    flex-direction:column;
    padding:5px;
}
button{
    float:right;
    margin-top:50px;
}
main h1{
    align-items:center;
    text-align:center;
}
nav ul.hide{
    display:none;
}
.navigation:after{
    content: "";
    display: table;
    clear: both;
}
#pancakes{
    display:flex;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #FF9B71;
    color:#07393c;
}
.active{
    background-color:#6C6061;
}
.pic-columns{
    display:grid;
    grid-template-columns: 0.8fr;
    justify-content: center;
}
picture img[data-src] {
    filter: blur(0.2em);
    object-fit: cover;
    width:100%;
    height:100%;
  }
  
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
    max-width: 100%;
  }
.galleryimg{
    border-radius: 25px;
    padding:20px;
    margin:1rem;
    
}
