html {
    max-width: 960px;
}
header, footer {
    background-color: #1B998B;
    color: #07393C;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
header, nav, main, footer {
	margin: 0 auto;
}
main {
  background-color: #E0FBFC;
  display: block;
  font-size: 0.8rem;
}
h1, h2, h3, h4, h5, h6 {
  color: #1B998B;
  font-family: 'Quicksand', sans-serif;
}
picture {
    width: auto;
    height: 6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navigation {
	list-style: none;
    padding: 0;
    background-color: #07393C;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
    font-weight: 700;
    font-size: 0.95rem;
    color: #E0FBFC;
    flex-direction: column;
	font-family: 'Rubik', sans-serif;
}
.navigation a:hover {
	background-color: #6C6061;
}