@media only screen and (min-width: 40em) {
    .navigation li {
      flex: 1 1 100%;
    }
    .navigation a {
      text-align: center;
    }
    .navigation li:first-child {
      display: none;
    }
    button{
    display:none;
    }
    nav ul.hide{
    display:flex;
    flex-flow:row;
    }
    .map{
        display:flex;
        float:left;
        margin:20px;
    }
    .townsec{
        display:flex;
        flex-flow:wrap;
    }
    #towns{
        display:flex;
        flex-direction: column;
    }
    .townsec img{
        height:190px;
    }
    .herodiv img{
        height:400px;
    }
    .town-column{
      column-count:3;
      column-gap: 0;
      display:block;
    }
    .sodaimg img, .fishimg img, .prestonimg img{
      width:100%;
  }
}