table, th, td{
    border: 1px solid lightgrey;
    
}
main{
    display:flex;
    align-items: center;
    justify-content: center;
}
table{
    text-align: center;
    box-shadow: 10px 10px 10px #628ca6;
}
body{
    text-align: center;
    font-family: Ubuntu, sans-serif;
}
#column-titles{
    background-color:#628ca6;
    color:white;
}
thead{
    background-color:#7fb9c2;
    color:black;
    font-weight: bolder;
    font-size: x-large;
}
tr:nth-child(2), tr:nth-child(4), tr:nth-child(6){
    background-color: #e7f0ed;
}
tr:nth-child(3), tr:nth-child(5), tr:nth-child(7){
    background-color: #e7ffed;
}
tfoot{
    background-color:#7fb9c2;
    font-size: small;
}
tr, td, th{
    padding:10px;
}
th{
    font-weight: lighter;
}
table tr:nth-child(6) th:nth-child(1){
    font-style: italic;
}
table tr:nth-child(5) td:nth-child(3){
    background-color:#628ca6;
    color:white;
}   