header, footer {
    background-color: #1B998B;
	align-items: center;
	justify-content: center;
    padding: 10px;
    text-align:center;
}
footer{
    color:#E0FBFC;
}
header{
    display:flex;
    color: #07393C;
}
header, nav, main, footer {
	margin: 0 auto;
}
main {
  background-color: #E0FBFC;
  font-size: 0.8rem;
}
h1, h2, h3, h4, h5, h6 {
  color:#07393c;
  font-family: 'Quicksand', sans-serif;
}
header img {
    width: 100px;
    height: 100px;
    margin: 20px 20px 0 0;
}
.navigation {
	list-style: none;
    padding: 0;
    background-color:#07393c;
    display: flex;
    flex-basis: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.navigation li {
    list-style:none;
    width: 100%;
    flex: 1;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: black;
    font-weight: 700;
    font-size: 0.95rem;
    color: #E0FBFC;
	font-family: 'Rubik', sans-serif;
}
.navigation a:hover, .frontPage a:hover{
	background-color: #6C6061;
}
.frontPage a:hover{
    color:#E0FBFC;
}
.navigation a:visited {
	color: #FF9B71;
}
#topHeader{
    display: flex;
    flex-direction:column;
    padding:5px;
}
.frontPage{
    text-align:center;
    list-style: none;
    font-size: 0.95rem;
    color: #E0FBFC;
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    max-width: 1000px;
}
button{
    float:right;
    margin-top:50px;
}
main h2{
    align-items:center;
    text-align:center;
}
nav ul.hide{
    display:none;
}
.navigation:after{
    content: "";
    display: table;
    clear: both;
}
section div{
    margin: 10px 0;
    padding: 20px;
    border-style: dashed;
    color: #FF9B71;
}
.herodiv img{
    width: 100%;
    height:300px;
    margin:5px;
}
#weather-summary{
    position:absolute;
    top: 40px;
	left: 50px;
	background: radial-gradient(#eee,#1B998B);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
    opacity: .8;
    margin-right:25px;
}
.herodiv{
    position:relative;
}
td {
    text-align: left;
    color:#07393c;
}

td:first-child {
    text-align: right;
    font-weight: bold;
}
.column-col{
    text-align: center;
    border:solid;
  }
  .column img {
  width: 50%;
  }
  .data {
  display: block;
  padding: 0 5px 5px;
  font-size: 1rem;
  text-align: center;
  }
  .col-head {
  font-weight: 700;
  font-size: 1rem;
  display: block;
  padding: 5px;
  text-align: center;
  background-color:#6C6061;
  }
  .column {
    column-count:5;
    column-gap: 0;
    display:block;
  }
.article-img{
    display:block;
    height:250px;
    width:300px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
}
p {
    color:#07393c;
}
#article-title, #article-author{
    display:flex;
    align-items: left;
    justify-content: left;
}
.map{
    display:none;
}
.contact-info{
    display:flex;
    flex-direction:column;
    border:none;
    font-size:20px;
}
.contactdiv{
    border:none;
}
#forecast{
    float:left;
    font-size:25px;
}
#fiveDay{
    display:flex;
    flex-direction:column;
}
#pancakes{
    display:flex;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #FF9B71;
    color:#07393c;
}
.active{
    background-color:#6C6061;
}

