@media only screen and (min-width: 37.5em) {
	  nav ul { display: flex; }
		nav ul li { flex: 1 1 100%; }
  nav a {
		font-size: 1rem;
	}
	main {
		grid-template-columns: 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 2;
	}
	img {
    display: block;
		width: 100%;
		height: auto;
	}
}
