@media only screen and (min-width: 60em) {
    #boxes{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .logo{
        height:150px;
    }
    #topHeader img{
        height:130px;
        padding-left: 5px;
        padding-top: -20px;
    }
    header:before{
        top:70%;
    }
    #topHeader p{
        padding-left: 600px;
        font-size: x-large;
        padding-bottom: 70px;
    }
    .title{
        font-size: 5rem;
    }
    .navigation li{
        font-size: xx-large;
        padding-right:50px;
    }
    #rental-img{
        height: 350px;
    }
}