@media only screen and (min-width: 45em) {
    nav ul.hide{
        display:flex;
        flex-flow:row;
    }
    button{
        display:none;
    }
    #boxes{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .logo{
        height:110px;
    }
    #topHeader img{
        height:100px;
    }
    header:before{
        top:85%;
    }
    #topHeader p{
        padding-left: 400px;
        font-size: larger;
        padding-bottom: 0px;
    }
    .navigation li{
        font-size:2rem;
        padding-right:40px;
    }
    .contacts img{
        height:100px;
    }
    .column{
        width:500px;
        height:200px;
    }
    .reservation{
        font-size: 30px;
        flex-direction: column;
        align-items: flex-start;
    }
    #quantity {
        width:50px;
        font-size:30px;
    }
    .main-box {
        width:600px;
        height:300px;
    }
    .back{
        font-size:18px;
    }
    #rental-img{
        margin-top:5px;
    }
}